@page
@model MyBankApp.Pages.CustomersModel
@{
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Id
                <a asp-page="/Customers"
                   asp-route-sortColumn="Id"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
                <a asp-page="/Customers"
                   asp-route-sortColumn="Id"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Customer Name
                <a asp-page="/Customers"
                   asp-route-sortColumn="Name"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
                <a asp-page="/Customers"
                   asp-route-sortColumn="Name"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Customer City
                <a asp-page="/Customers"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
                <a asp-page="/Customers"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Customer Country
                <a asp-page="/Customers"
                   asp-route-sortColumn="Country"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
                <a asp-page="/Customers"
                   asp-route-sortColumn="Country"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var supp in Model.Customers)
        {
            <tr>
                <td>@supp.Id</td>
                <td>@supp.Givenname</td>
                <td>@supp.Surname</td>
                <td>@supp.City</td>
                <td>@supp.Country</td>
                <td><a asp-page="/Supplier" asp-route-id="@supp.Id" class="btn btn-primary">View</a></td>
            </tr>
        }
    </tbody>
</table>