@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Hero Section -->
<section id="hero" class="hero section">

    <img src="assets/img/hero-bg-abstract.jpg" alt="" data-aos="fade-in" class="">

    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-out">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>Peoples Bank</h1>
                <p>Welcome to a new bright day with us!</p>
            </div>
        </div>

        <div class="text-center" data-aos="zoom-out" data-aos-delay="100">
            @if (!SignInManager.IsSignedIn(User))
            {
                <a href="/Identity/Account/Login" class="btn-get-started">
                    Login
                </a>
            }


        </div>

        <div class="row gy-4 mt-5">

            <div class="col-md-6 col-lg-3 text-center" data-aos="zoom-out" data-aos-delay="100">
                <div class="icon-box">
                    <span class="flag-icon flag-icon-se"></span>
                    <div class="icon d-block"><i class="bi bi-person"></i></div>
                    <h1>Clients: @Model.SwedishCustomerCount</h1>
                    <div class="icon d-block"><i class="bi bi-credit-card"></i></div>
                    <h1>Accounts: @Model.SwedishAccountCount</h1>
                    <div class="icon d-block"><i class="bi bi-piggy-bank"></i></div>
                    <h1>Capital: @Model.SwedishCapital.ToString("N0")</h1>
                </div>
            </div><!--End Icon Box -->

            <div class="col-md-6 col-lg-3 text-center" data-aos="zoom-out" data-aos-delay="200">
                <div class="icon-box">
                    <span class="flag-icon flag-icon-no"></span>
                    <div class="icon d-block"><i class="bi bi-person"></i></div>
                    <h1>Clients: @Model.NorwegianCustomerCount</h1>
                    <div class="icon d-block"><i class="bi bi-credit-card"></i></div>
                    <h1>Accounts: @Model.NorwegianAccountCount</h1>
                    <div class="icon d-block"><i class="bi bi-piggy-bank"></i></div>
                    <h1>Capital: @Model.NorwegianCapital.ToString("N0")</h1>
                </div>
            </div><!--End Icon Box -->

            <div class="col-md-6 col-lg-3 text-center" data-aos="zoom-out" data-aos-delay="300">
                <div class="icon-box">
                    <span class="flag-icon flag-icon-dk"></span>
                    <div class="icon d-block"><i class="bi bi-person"></i></div>
                    <h1>Clients: @Model.DanishCustomerCount</h1>
                    <div class="icon d-block"><i class="bi bi-credit-card"></i></div>
                    <h1>Accounts: @Model.DanishAccountCount</h1>
                    <div class="icon d-block"><i class="bi bi-piggy-bank"></i></div>
                    <h1>Capital: @Model.DanishCapital.ToString("N0")</h1>
                </div>
            </div><!--End Icon Box -->

            <div class="col-md-6 col-lg-3 text-center" data-aos="zoom-out" data-aos-delay="400">
                <div class="icon-box">
                    <span class="flag-icon flag-icon-fi"></span>
                    <div class="icon d-block"><i class="bi bi-person"></i></div>
                    <h1>Clients: @Model.FinnishCustomerCount</h1>
                    <div class="icon d-block"><i class="bi bi-card-list"></i></div>
                    <h1>Accounts: @Model.FinnishAccountCount</h1>
                    <div class="icon d-block"><i class="bi bi-piggy-bank"></i></div>
                    <h1>Capital: @Model.FinnishCapital.ToString("N0")</h1>
                </div>
            </div><!--End Icon Box -->

        </div>
    </div>

</section><!-- /Hero Section -->

<!-- Stats Section -->
<section id="stats" class="stats section light-background">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@Model.CustomerCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Customers</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@Model.AccountCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Accounts</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@((int)Model.CapitalCount)" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Total Capital</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@Model.UserCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Users</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section><!-- /Stats Section -->


