@page
@model MyBankApp.Pages.Account.AccountIndexModel
@{
}
<section id="hero" class="hero section">
    <img src="assets/img/hero-bg-abstract.jpg" alt="" data-aos="fade-in" class="">
    <div class="container">


        <div class="table-responsive">

            @if (Model.Account != null)
            {
                <h1>Transactions</h1>
                <h4><strong>Account Number:</strong> @Model.Account.AccountId</h4>
                <h5><strong>Balance:</strong> @Model.Account.Balance</h5>
                <br />

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            <th scope"col">
                                Date
                                <a asp-page="/AccountIndex"
                                   asp-route-accountId="@Model.Account.AccountId"
                                   asp-route-sortColumn="Date"
                                   asp-route-sortOrder="asc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-up"></i>
                                </a>

                                <a asp-page="/AccountIndex"
                                   asp-route-accountId="@Model.Account.AccountId"
                                   asp-route-sortColumn="Date"
                                   asp-route-sortOrder="desc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-down"></i>
                                </a>
                            </th>
                            <th scope"col">
                                Amount
                                <a asp-page="/AccountIndex"
                                   asp-route-accountId="@Model.Account.AccountId"
                                   asp-route-sortColumn="Amount"
                                   asp-route-sortOrder="asc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-up"></i>
                                </a>

                                <a asp-page="/AccountIndex"
                                   asp-route-accountId="@Model.Account.AccountId"
                                   asp-route-sortColumn="Amount"
                                   asp-route-sortOrder="desc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-down"></i>
                                </a>
                            </th>
                            <th scope"col">
                                Type
                                <a asp-page="/AccountIndex"
                                   asp-route-accountId="@Model.Account.AccountId"
                                   asp-route-sortColumn="Type"
                                   asp-route-sortOrder="asc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-up"></i>
                                </a>

                                <a asp-page="/AccountIndex"
                                   asp-route-accountId="@Model.Account.AccountId"
                                   asp-route-sortColumn="Type"
                                   asp-route-sortOrder="desc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-down"></i>
                                </a>
                            </th>
                            <th scope"col">
                                Balance
                                <a asp-page="/AccountIndex"
                                   asp-route-accountId="@Model.Account.AccountId"
                                   asp-route-sortColumn="Type"
                                   asp-route-sortOrder="asc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-up"></i>
                                </a>

                                <a asp-page="/AccountIndex"
                                   asp-route-accountId="@Model.Account.AccountId"
                                   asp-route-sortColumn="Type"
                                   asp-route-sortOrder="desc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-down"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="transactions-table-body">
                        @foreach (var t in Model.Transactions)
                        {
                            <tr>
                                <td>@t.Date.ToString("yyyy-MM-dd")</td>
                                <td>@t.Amount</td>
                                <td>@t.Type</td>
                                <td>@t.Balance</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- Button to load more transactions -->
                @if (Model.TotalTransactions > Model.Transactions.Count)
                {
                    @* <button id="load-more" data-account-id="@Model.Account?.AccountId" class="btn btn-primary" data-page="2">Load More Transactions</button> *@
                    <button id="load-more" class="btn-get-started">Load More Transactions</button>
                }
            }
            else
            {
                <p>No account details found.</p>
            }

        </div>
    </div>
</section>



@section Scripts {
    <script>
        let currentPage = @Model.CurrentPage;
        const accountId = '@Model.Account?.AccountId'; 

        document.getElementById('load-more')?.addEventListener('click', function () {
            currentPage++;

        fetch(`?handler=Transactions&accountId=${accountId}&pageNo=${currentPage}`)
        .then(res => res.json())
                .then(data => {
                    const container = document.getElementById('transactions-table-body');

                    data.transactions.forEach(tx => {
                               const row = document.createElement('tr');

                                row.innerHTML = `
                                    <td>${tx.date}</td>
                                    <td>${tx.amount}</td>
                                    <td>${tx.type}</td>
                                    <td>${tx.balance}</td>
                                `;

                                container.appendChild(row);
                    });

                    if (!data.hasMorePages) {
                        document.getElementById('load-more').style.display = 'none';
                    }
                })
                .catch(error => console.error('Kunde inte hämta transaktioner:', error));
        });
    </script>
}
