@page
@model MyBankApp.Pages.Account.AccountModel
@{
}
<div class="content">

    <div class="container">

        <div class="table-responsive">

            @if (Model.Account != null)
            {
                <h1>Transactions</h1>
                <p><strong>Account Number:</strong> @Model.Account.AccountId</p>
                <p><strong>Balance:</strong> @Model.Account.Balance</p>


                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            <th scope"col">
                                Date
                                <a asp-page="/Account"
                                   asp-route-q="@Model.Q"
                                   asp-route-sortColumn="Date"
                                   asp-route-sortOrder="asc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-up"></i>
                                </a>

                                <a asp-page="/Account"
                                   asp-route-q="@Model.Q"
                                   asp-route-sortColumn="Date"
                                   asp-route-sortOrder="desc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-down"></i>
                                </a>
                            </th>
                            <th scope"col">
                                Amount
                                <a asp-page="/Account"
                                   asp-route-q="@Model.Q"
                                   asp-route-sortColumn="Amount"
                                   asp-route-sortOrder="asc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-up"></i>
                                </a>

                                <a asp-page="/Account"
                                   asp-route-q="@Model.Q"
                                   asp-route-sortColumn="Amount"
                                   asp-route-sortOrder="desc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-down"></i>
                                </a>
                            </th>
                            <th scope"col">
                                Type
                                <a asp-page="/Account"
                                   asp-route-q="@Model.Q"
                                   asp-route-sortColumn="Type"
                                   asp-route-sortOrder="asc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-up"></i>
                                </a>

                                <a asp-page="/Account"
                                   asp-route-q="@Model.Q"
                                   asp-route-sortColumn="Type"
                                   asp-route-sortOrder="desc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-down"></i>
                                </a>
                            </th>
                            <th scope"col">
                                Balance
                                <a asp-page="/Account"
                                   asp-route-q="@Model.Q"
                                   asp-route-sortColumn="Type"
                                   asp-route-sortOrder="asc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-up"></i>
                                </a>

                                <a asp-page="/Account"
                                   asp-route-q="@Model.Q"
                                   asp-route-sortColumn="Type"
                                   asp-route-sortOrder="desc"
                                   style="text-decoration:none">
                                    <i class="fa-solid fa-angle-down"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="transactions-table-body">
                        @foreach (var t in Model.Transactions)
                        {
                            <tr>
                                <td>@t.Date.ToString("yyyy-MM-dd")</td>
                                <td>@t.Amount</td>
                                <td>@t.Type</td>
                                <td>@t.Balance</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- Button to load more transactions -->
                @if (Model.TotalTransactions > Model.Transactions.Count)
                {
                    <button id="load-more" data-account-id="@Model.Account?.AccountId" class="btn btn-primary" data-page="2">Load More Transactions</button>
                }
            }
            else
            {
                <p>No account details found.</p>
            }

        </div>
    </div>
</div>
